body, html { height: 100%; }

.jumbotron {
  text-align: center;
  background-color: #BFD7EA;
}
  
#questionText {
  background-color: #0CA4A5;
}

#questionRadio {
  background-color: #91AEC1;
  min-height: 200px;
}

#questionText {
  font-size: 25px;
  min-height: 200px;
}

#submitOne, #submitTwo, #submitThree, #submitFour, #submitFive {
  float: right;
}
#question2, #question3, #question4, #question5 {
  display: none;
}

#question1, #question2, #question3, #question4, #question5 {
  border-style: solid;
}

#htmlResult, #javaScriptResult, #pythonResult, #reactResult {
  display: none;
}

#displayResults{
  display: none;
  background-color: #0CA4A5;
  border-style: solid;
  border-color: #001F54;
  padding: 25px;
}

body {
  background-color:#0A1128;
}