body, html { height: 100%; }

.jumbotron {
  text-align: center;
}
  
#questionText {
  background-color: aqua;
}

#questionRadio {
  background-color: green;
}

#questionText, #questionRadio, #submit {
  font-size: 25px;;
}

#submit {
  float: right;
  margin: 10px;
}