body, html { height: 100%; }

.jumbotron {
  text-align: center;
}
  
#questionText {
  background-color: aqua;
}

#questionRadio {
  background-color: green;
}

#questionText, #questionRadio, #submit {
  font-size: 25px;
}

#submitOne, #submitTwo, #submitThree, #submitFour, #submitFive {
  float: right;
}
#question2, #question3, #question4, #question5 {
  display: none;
}